.loading-page {
  background-color: #477952;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div {
  background-color: #477952;
  height: 832px;
  position: relative;
  width: 1280px;
}

.overlap-group {
  border-radius: 10px;
  height: 70px;
  left: 408px;
  position: absolute;
  top: 447px;
  width: 464px;
}

.rectangle {
  background-color: #c2a878;
  border: 1px solid;
  border-color: #355834;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 70px;
  left: 0;
  position: absolute;
  top: 0;
  width: 464px;
}

.text-wrapper {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 116px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
  width: 231px;
}

.orpheustrans {
  height: 187px;
  left: 549px;
  object-fit: cover;
  position: absolute;
  top: 229px;
  width: 182px;
}

.text-wrapper-2 {
  color: #c2a878;
  font-family: "Inter", Helvetica;
  font-size: 50px;
  font-weight: 400;
  left: 527px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 110px;
  white-space: nowrap;
  width: 226px;
}

.bookshelf-page {
  background-color: #477952;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 122px;
}

.div2 {
  background-color: #477952;
  flex: 50%;
  padding: 0 4px;
}

.div2 img {
  margin-top: 50px;
  margin-bottom: 20px;
  vertical-align: middle;
  width: 307px;
  height: 279px;
}

.topbar {
  position: absolute;
  width: 100%;
  height: 122px;
  top: 0;
  left: 0;
  background-color: #c2a878;
  background-size: 100% 100%;
}

.orpheustrans2 {
  position: absolute;
  background-color: #c2a878;
  width: 88px;
  height: 88px;
  top: 13px;
  left: 32px;
  object-fit: cover;
}
.orpheustrans3 {
  position: absolute;
  background-color: #c2a878;
  top: -2px;
  left: -2px;
}

.text-wrapper-bookshelf {
  position: absolute;
  width: 220px;
  top: 33px;
  left: 163px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

